@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.about-us {
  margin-top: 73px;
  margin-bottom: 53px;
}

.about-us__item {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: black;
}

.feedback__item {
  padding-top: 14px;
}

.feedback__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 33px;
}

.feedback__author-info {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-style: normal;
}

.feedback__author-email {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.button {
  color: #444444;
  background-color: #FFFFFF;
  mix-blend-mode: normal;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 16px 70px;
  text-decoration: none;
}

.catalog-popular {
  margin-top: 31px;
}

.catalog-popular__title {
  padding-bottom: 3px;
}

.catalog-popular__period {
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.catalog-popular__description {
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.catalog-popular__item {
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.price {
  color: #444444;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.catalog {
  margin: 30px 0;
}

.catalog__item {
  list-style-type: none;
}

.card-content__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.card-content__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.card-footer__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.production__wrapper {
  padding-bottom: 41px;
}

.production__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production__description {
  margin: 0;
  padding-top: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__order-product {
  padding: 18px 11px;
  line-height: 16px;
}

.contacts {
  margin-top: 89px;
}

.contacts__details {
  padding-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__email-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #62d1ba;
}

.contacts-button {
  padding: 16px 37px;
}

.main-footer {
  margin-top: 39px;
}

.main-footer__social {
  padding-bottom: 58px;
}

.main-footer__copyright {
  padding-bottom: 37px;
}

.inner-footer {
  margin-top: 55px;
  background-color: #f1f1f1;
}

.inner-footer__social {
  margin-top: 25px;
  padding-bottom: 58px;
}

.inner-footer__copyright {
  padding-bottom: 37px;
}

.site-list__item {
  list-style-type: none;
}

.main-navigation__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 97%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
}

.modal-content {
  padding-top: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.modal-order-content__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.modal-order-content__description {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal-order-content__modal-form {
  display: flex;
  margin-bottom: 32px;
  width: 320px;
  justify-content: center;
}

.modal-button {
  margin-bottom: 31px;
  background: #63d1bb;
  color: #ffffff;
  padding: 18px 68px;
  border: none;
}

.modal-form_form-radio {
  margin-right: 10px;
}

.modal-form_input[type=radio] {
  display: none;
}

.modal-form_input {
  display: inline-block;
  cursor: pointer;
  padding: 18px 20px;
  line-height: 34px;
  background: #FFFFFF;
  border: 2px solid rgba(68, 68, 68, 0.1);
  color: #444444;
}

.modal-container-close {
  display: none;
}

.product-options__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 32px 30px;
  text-decoration: none;
}

.interior-item {
  background-color: #63d1bb;
}

.toys-item {
  background-color: #56c3b2;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.top-menu__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding-top: 73px;
  padding-bottom: 120px;
}

.inner-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding: 73px 0;
  background-color: #f1f1f1;
}

.order-forms__description {
  color: #444444;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding: 17px 0 30px;
}

.order-forms__group {
  border: none;
}

.order-forms__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-forms__list {
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

.order-forms__item {
  list-style-type: none;
  color: black;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 24px;
}

.order-forms__item:first-child {
  padding-top: 24px;
}

.order-forms__item:last-child {
  padding-bottom: 51px;
}

.customer-information__field {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: black;
  padding: 16px 0;
  border: none;
  box-shadow: inset 0 -2px 0 black;
}

.order-wish {
  border: 2px solid #444444;
  box-shadow: inset 0 -2px 0 black;
  padding: 17px 17px 86px 17px;
  margin-top: 22px;
}

.order-forms__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 17px 0 30px;
}

.order-forms-button {
  padding: 17px 37px;
}

.item-checkbox {
  padding: 42px 0;
}

.customer-information__bio {
  padding-top: 21px;
}

.order-forms__list-bio {
  margin: 0;
  padding: 0;
}

.order-forms__control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.radio__input-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 13px;
  border: 2px solid #444444;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox__input-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 13px;
  border: 2px solid #444444;
  cursor: pointer;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */