@use "variables.scss";

.order-forms__description {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.order-forms__group {
  border: none;
  padding: 0;
  position: relative;
  margin-top: 29px;
}

.order-forms__radio::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: -9px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__checkbox-list::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: -10px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: rgba(99, 209, 187, 1);
  text-transform: uppercase;
  margin: 0;
}

.order-forms__list {
  padding: 0;
  padding-top: 16px;
}

.order-forms__item {
  list-style-type: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.order-forms__radio-item:first-child {
  padding-top: 18px;
  margin-bottom: 24px;
}


.order-forms__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  padding: 10px 0 30px;
}

.order-forms-button {
  padding: 17px 19px 17px;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
}


.order-forms__list-bio {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    top: -38px;
    right: 0;
    background-color: rgba(98, 209, 186, 1);
  }
}

.order-forms__radio-input-text {
  display: block;
  padding-left: 38px;
}

.order-forms__control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.order-forms__radio-input-icon {
  position: absolute;
  top: -5px;
  left: -30px;
  width: 37px;
  height: 37px;
  border: 2px solid rgba(68, 68, 68, 1);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;

  &:hover {
    border-color: rgba(98, 209, 186, 1);
  }

  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-forms__radio-input[type="radio"]:checked + .order-forms__radio-input-icon::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #62d1ba;
  top: 11px;
  left: 11px;
}

.order-forms__checkbox-input-icon {
  position: absolute;
  top: -12px;
  left: -59px;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(68, 68, 68);
  cursor: pointer;

  &:hover {
    border-color: rgba(98, 209, 186, 1);
  }

  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-forms__checkbox-input[type="checkbox"]:checked + .order-forms__checkbox-input-icon::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  background-image: url("../img/tick_small.svg");
  width: 23px;
  height: 18px;
}

.order-forms__more::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: 10px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__footer {
  margin-bottom: 55px;
}


.order-forms__title__color {
  padding-top: 16px;
}

.order-forms__checkbox-control {
  padding-left: 0;
}

.order-forms__item-checkbox {
  display: block;
  padding-left: 60px;
  margin-bottom: 43px;
}

.order-forms__group__bio {
  margin-top: 0;
}

.order-forms__checkbox-list {
  padding-top: 34px;
}

.order-forms__bio-item {
  margin-top: 21px;

  &:first-child {
    margin-top: 29px;
  }
}

.order-forms__title__email {
  padding-top: 6px;
}

.order-forms__title__more {
  padding-top: 8px;
}

@media (min-width: variables.$tablet-width) {
  .order-forms__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
    padding-left: 5px;
  }

  .order-forms__radio-item:first-child {
    margin-bottom: 55px;
  }

  .order-forms__group {
    display: flex;

    &:nth-child(2n) {
      background-color: rgba(241, 241, 241, 1);
    }
  }

  .order-forms__group__wrapper {
    display: flex;
  }

  .order-forms__title {
    padding: 0;
    width: 96px;
  }

  .order-forms__title__color {
    padding-top: 46px;
    padding-left: 3px;
  }

  .order-forms__list {
    padding-top: 0;
  }

  .order-forms__group__bio {
    margin-top: 27px;
  }

  .order-forms__item {
    margin-bottom: 58px;

    &:first-child {
      padding-top: 0;
    }
  }

  .order-forms__checkbox-input-icon {
    width: 49px;
    height: 49px;
    left: -49px;
    top: -16px;
  }

  .order-forms__radio-input-icon {
    width: 46px;
    height: 46px;
    margin: 0;
    top: -18px;
    left: -27px;
  }

  .order-forms__radio-input[type="radio"]:checked + .order-forms__radio-input-icon::after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #62d1ba;
    top: 12px;
    left: 14px;
  }

  .order-forms__checkbox-input-text {
    display: block;
    padding-left: 35px;
  }

  .order-forms__checkbox-input[type="checkbox"]:checked + .order-forms__checkbox-input-icon::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    background-image: url("../img/tick.svg");
    width: 31px;
    height: 22px;
  }

  .order-forms__checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-top: 46px;
    margin-left: 20px;
  }

  .order-forms__item-checkbox {
    padding: 0;
  }

  .order-forms__title-wrapper {
    margin-right: 103px;
  }


  .order-forms__title__contacts {
    margin-top: 47px;
    padding: 0;
  }

  .order-forms__title__more {
    margin-top: 18px;
    padding: 0;
    margin-left: 3px;
  }

  .order-forms__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .order-forms__note {
    margin: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .order-forms__more {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;

    &::after {
      display: none;
    }
  }

  .order-forms__list-bio::after {
    display: none;
  }

  .order-forms__radio {
    &::after {
      display: none;
    }
  }

  .order-forms__radio-input-text {
    padding-left: 29px;
  }

  .order-forms__checkbox-list::after {
    display: none;
  }

  .order-forms__title-wrapper-bio {
    margin-right: 125px;
    margin-top: 48px;
  }

  .order-forms__bio-input {
    width: 100%;
    max-width: 1050px;
    padding-left: 16px;
    padding-bottom: 14px;
  }

  .order-forms__title__email {
    padding: 0;
    padding-top: 26px;
    padding-left: 3px;
  }

  .order-forms__title-bio {
    padding-top: 51px;
    padding-left: 3px;
  }

  .order-forms__bio-item {
    margin-top: 0;
    margin-bottom: 17px;
  }


  .order-forms-button {
    width: max-content;
    margin-bottom: 20px;
    padding: 17px 30px 17px;
  }

  .inner-title-form {
    padding-left: 56px;
  }
}

@media (min-width: variables.$desktop-width) {
  .order-forms__checkbox-list {
    grid-template-columns: 260px 260px 250px;
    margin-left: 35px;
    column-gap: 0;
  }


  .order-forms__title__contacts {
    margin: 0;
    align-self: flex-end;
    margin-bottom: 40px;
  }

  .order-forms__title__email {
    align-self: flex-end;
    margin-bottom: 25px;
    padding-top: 0;
  }


  .order-forms__description {
    padding-left: 19px;
    padding-top: 130px;
    width: 700px;
  }

  .order-forms__radio-input-text {
    padding-left: 40px;
  }

  .order-forms__radio-input-icon {
    top: -17px;
    left: -17px;
  }

  .order-forms__title-wrapper {
    margin-right: 33px;
  }

  .order-forms__title {
    padding-left: 70px;
  }

  .order-forms__title-wrapper-bio {
    margin-right: 73px;
    margin-top: 50px;
  }


  .order-forms__title__more {
    margin-top: 11px;
    padding-left: 65px;
  }

  .order-forms-button {
    margin-left: 180px;
  }

  .order-forms__note {
    margin-right: 167px;
    padding-top: 16px;
  }

  .order-forms__checkbox-input-text {
    padding-left: 33px;
  }

  .order-forms__more {
    margin-top: 20px;
    margin-bottom: 46px;
  }

  .order-forms__footer {
    margin-bottom: 26px;
  }
}
