.button {
  color: rgba(68, 68, 68, 1);
  background-color: rgba(255, 255, 255, 1);
  mix-blend-mode: normal;
  border: 2px solid rgba(68, 68, 68, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
}
