@use "variables.scss";

.catalog-popular__wrapper {
  margin-top: 31px;
}

.catalog-popular__period {
  color: rgba(99, 209, 187, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.catalog-popular__description {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.catalog-popular__item {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.price {
  color: rgba(68, 68, 68, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.catalog-popular__footer {
  display: flex;
  flex-direction: column;
}


@media (min-width: variables.$tablet-width) {
  .catalog-popular__wrapper {
    margin-top: 31px;
  }

  .catalog-popular__title-container {
    display: flex;
    justify-content: space-between;
  }

  .catalog-popular__title {
    font-size: 43px;
    line-height: 50px;
  }

  .catalog-popular__period {
    width: 100px;
    text-align: center;
  }

  .catalog-popular__image {
    display: none;
  }

  .catalog-popular__description {
    margin: 0;
  }

  .catalog-popular__container {
    display: flex;
    flex-direction: column;
    width: 668px;
    background-image: url("../img/knitted_baskets-tablet.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 334px 404px;
  }

  .catalog-popular-button {
    align-self: start;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog-popular__container {
    grid-column: 1;
    grid-row: 3;
    background-image: none;
  }

  .catalog-popular__wrapper {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/knitted_baskets-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 525px 636px;
  }

  .catalog-popular__title-container {
    align-self: flex-start;
    justify-content: flex-start;
    grid-row: 2;
    margin-top: 61px;
  }

  .catalog-popular__period {
    order: -1;
  }

  .catalog-popular__title {
    font-size: 53px;
    line-height: 57px;
  }

  .catalog-popular__item {
    padding-top: 60px;
    padding-bottom: 124px;
  }
}
