.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    ;
  }

  .modal {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #C6C6C6;
    box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
  }



.modal-content {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
    
}
  

  .modal-order-content__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
  }

.modal-order-content__description {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(68, 68, 68, 1);
;
}

  .modal-order-content__modal-form {
    display: flex;
    margin-bottom: 32px;
    width: 320px;
    justify-content: center;
  }


  .modal-button {
      margin-bottom: 31px;
      background: rgba(99, 209, 187, 1);
      color: #ffffff;
      padding: 18px 68px;
      border: none;
  }


  .modal-form_form-radio {
	margin-right: 10px;
}
.modal-form_input[type=radio] {
	display: none;
}

.modal-form_input {
	display: inline-block;
	cursor: pointer;
	padding: 18px 20px;
	line-height: 34px;
	background: #FFFFFF;
    border: 2px solid rgba(68, 68, 68, 0.1);
    color: rgba(68, 68, 68, 1);
}

.modal-container-close {
    display: none;
}