@use "variables.scss";


.production__wrapper {
  border: 1px solid hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  position: relative;
}

.production__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 92px;
  margin-bottom: 26px;
  margin-top: 23px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video.svg");
    width: 32px;
    height: 22px;
    top: 36px;
    left: 35px;
  }
}

.production__description {
  margin: 0;
  margin-left: 34px;
  padding-top: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
}

.production__order-product {
  padding: 18px 21px 14px 20px;
  line-height: 16px;
  align-self: center;
  margin-top: 39px;
  margin-bottom: 33px;
  margin-left: 3px;
}


.production_img-tablet,
.production_img-desktop {
  display: none;
}

.pruduction__video {
  position: relative;
  max-width: max-content;
}


.production__video-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: variables.$tablet-width) {
  .production {
    padding-bottom: 65px;
  }

  .production__wrapper {
    margin-bottom: 0;
  }

  .production__title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 108px;

    &::before {
      top: 492px;
      left: 42px;
    }
  }

  .production__order-product {
    align-self: stretch;
    text-align: center;
    margin: 0 42px;
    margin-bottom: 46px;
  }

  .production__description {
    margin: 0 42px 47px;
    font-size: 15px;
    padding: 0;
  }

  .production__image {
    order: -1;
    width: 100%;
    height: auto;
  }

  .pruduction__video {
    order: -1;
  }
}

@media (min-width: variables.$desktop-width) {
  .production {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .production__wrapper {
    display: grid;
    grid-template-columns: 1fr 367px;
  }

  .production_img-tablet {
    display: none;
  }

  .production_img-desktop {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .production__order-product {
    align-self: center;
    margin-left: 87px;
    grid-column: 2;
    margin-bottom: 60px;
    width: 51%;
  }

  .production__title {
    margin-top: 95px;
    font-size: 20px;
    margin-left: 87px;
    padding-right: 50px;
    margin-bottom: 25px;

    &::before {
      top: 45px;
      left: 770px;
    }
  }

  .production__description {
    margin-left: 85px;
    padding: 0;
    margin-bottom: 51px;
    line-height: 30px;
  }

  .production__video {
    position: relative;
    max-width: max-content;
    grid-column: 1;
    grid-row: 1/4;
  }

  .production__video-button {
    left: 52%;
  }

  .production__video-button-icon {
    &:hover {
      width: 121px;
      height: 92px;
    }

    &:active {
      width: 81px;
      height: 62px;
      opacity: 0.3;
    }
  }
}
