@use "variables.scss";

.about-us {
  position: relative;
}

.about-us__wrapper {
  margin-bottom: 53px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    top: -30px;
    left: 0;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.about-us__item {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 83px;
}

.about-us__item:first-child {
  padding-top: 82px;
}

.about-us__item:last-child {
  padding-bottom: 0;
}

.about-us__item--benefit-one::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-1.svg");
  width: 33px;
  height: 38px;
  top: 16px;
}

.about-us__item--benefit-two::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-3.svg");
  width: 47px;
  height: 27px;
  top: 152px;
}

.about-us__item--benefit-three::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-5.svg");
  width: 34px;
  height: 27px;
  top: 280px;
}

.about-us__item--benefit-four::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-2.svg");
  width: 35px;
  height: 34px;
  top: 400px;
}

.about-us__item--benefit-five::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-4.svg");
  width: 55px;
  height: 23px;
  top: 524px;
}

.about-us__item--benefit-six::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-6.svg");
  width: 33px;
  height: 32px;
  top: 645px;
}

@media (min-width: variables.$tablet-width) {
  .about-us__wrapper {
    margin-bottom: 163px;

    &::before {
      background-image: url("../img/zigzag-line-tablet.svg");
      height: 17px;
      top: -60px;
    }
  }

  .title.about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 97px;
  }

  .about-us__list {
    display: grid;
    grid-template-columns: 265px 325px;
    gap: 110px 70px;
  }

  .about-us__item {
    padding: 0;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item:first-child {
    padding-top: 0;
  }

  .about-us__item:last-child {
    padding-bottom: 0;
  }

  .about-us__item--benefit-two {
    grid-row: 3 / 2;
  }

  .about-us__item--benefit-three {
    grid-row: 3 / 4;
  }

  .about-us__item--benefit-one::before {
    top: -55px;
  }

  .about-us__item--benefit-two::before {
    top: 100px;
  }

  .about-us__item--benefit-three::before {
    top: 250px;
  }

  .about-us__item--benefit-four::before {
    top: -55px;
  }

  .about-us__item--benefit-five::before {
    top: 100px;
  }

  .about-us__item--benefit-six::before {
    top: 250px;
  }
}

@media (min-width: variables.$desktop-width) {
  .about-us__wrapper {
    margin-bottom: 168px;

    &::before {
      background-image: url("../img/zigzag-line-desktop.svg");
      height: 23px;
      top: -90px;
      width: 1050px;
      left: 50px;
    }
  }

  .about-us__list {
    padding-left: 143px;
  }

  .title.about-us__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 140px;
  }
}
