.button {
    color: rgba(68, 68, 68, 1);
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #444444;;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 16px 70px;
    text-decoration: none;
}