@use "variables.scss";

.button {
  color: rgba(68, 68, 68, 1);
  background-color: rgba(255, 255, 255, 1);
  mix-blend-mode: normal;
  border: 2px solid rgba(68, 68, 68, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 16px 20px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 68, 68, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(68, 68, 68, 1);
  }
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(68, 68, 68, 1);
}

@media (min-width: variables.$tablet-width) {
  .button {
    font-size: 17px;
  }
}
