@use "variables.scss";

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__item {
  list-style-type: none;
}

.card-content {
  border: 1px solid rgba(236, 236, 236, 1);
}

.card-content__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 27px 5px 6px 28px;
}

.card-content__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  margin-left: 28px;
  margin-bottom: 47px;
}

.card-footer {
  position: relative;
  display: flex;
  margin-left: 28px;
  margin-bottom: 26px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 204px;
    height: 1px;
    background: rgba(236, 236, 236, 1);
    top: -22px;
  }
}

.card-footer__price {
  display: block;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-right: 90px;
}


.production__wrapper {
  border: 1px solid hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  position: relative;
}

.production__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 91px;
  margin-bottom: 26px;
  margin-top: 21px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video.svg");
    width: 32px;
    height: 22px;
    top: 30px;
    left: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/play.svg");
    width: 100px;
    height: 76px;
    top: 125px;
    left: 85px;
  }
}

.production__description {
  margin: 0;
  margin-left: 34px;
  padding-top: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
}

.production__order-product {
  padding: 18px 11px;
  line-height: 16px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 33px;
}

.card-content__image {
  width: 100%;
  height: auto;
}

.production_img-tablet,
.production_img-desktop {
  display: none;
}

@media (min-width: variables.$tablet-width) {
  .card-content {
    display: grid;
    grid-template-columns: 333px 334px;
  }

  .card-footer {
    display: flex;
  }

  .catalog__item {
    margin-bottom: 54px;
  }

  .card-content__image {
    grid-row: 1 / 4;
  }

  .production__title {
    margin-top: 41px;
    margin-bottom: 24px;

    &::before {
      top: 490px;
    }

    &::after {
      top: 200px;
      left: 270px;
    }
  }

  .production__order-product {
    align-self: stretch;
    text-align: center;
    margin: 0 42px;
    margin-bottom: 46px;
  }

  .production__description {
    margin: 0 42px 40px;
    font-size: 15px;
    padding: 0;
  }

  .production_img-tablet {
    display: block;
    order: -1;
  }

  .production_image-mobile {
    display: none;
  }

  .card-content__description {
    font-size: 15px;
  }

  .card-footer__price {
    margin-right: 134px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &:hover {
      border: 1px solid hsl(0, 0%, 93%);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item {
    width: 316px;
    margin-bottom: 0;
  }

  .card-footer.card-content {
    flex-direction: row;
  }

  .card-footer__price {
    margin-right: 122px;
  }

  .card-content__description {
    margin-bottom: 39px;
  }

  .production__wrapper {
    display: grid;
    grid-template-columns: 1fr 367px;
  }

  .production_img-tablet {
    display: none;
  }

  .production_img-desktop {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .production__order-product {
    align-self: center;
    margin-left: 79px;
  }

  .production__title {
    margin-top: 96px;
    font-size: 20px;
    margin-left: 79px;
    padding-right: 50px;

    &::before {
      top: 45px;
      left: 760px;
    }
  }

  .production__title:hover::after {
    width: 121px;
    height: 91px;
    background-image: url("../img/play_hover.svg");
  }

  .production__description {
    margin-left: 79px;
    margin-top: 27px;
    padding: 0;
    margin-bottom: 51px;
  }

  .card-footer__add-cart-icon {
    &:hover {
      fill: rgba(99, 209, 187, 1);
    }

    &:disabled {
      fill: rgba(99, 209, 187, 0.2);
    }
  }
}
