@use "variables.scss";

.catalog-popular__wrapper {
  margin: 0 30px 73px;
}

.catalog-popular__title {
  margin-bottom: 3px;
}

.catalog-popular__period {
  color: rgba(99, 209, 187, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.catalog-popular__description {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 24px;
}

.catalog-popular__item {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  margin-bottom: 41px;
}

.catalog-popular__wrapper-items {
  display: grid;
  grid-template-columns: 74px 1fr;
  column-gap: 33px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-popular__item-variant {
  display: block;
  margin: 0;
}

.price {
  color: rgba(68, 68, 68, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 25px 0 24px;
  text-align: center;
}

.catalog-popular__footer {
  display: flex;
  flex-direction: column;
}


@media (min-width: variables.$tablet-width) {
  .catalog-popular__wrapper {
    margin: 0 0 124px;
    position: relative;
  }

  .catalog-popular__title-container {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-popular__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 37px;
  }

  .catalog-popular__period {
    width: 100px;
    text-align: center;
    margin-left: 132px;
    line-height: 17px;
    padding-top: 6px;
  }

  .catalog-popular__item {
    margin: 48px 0 70px;
  }

  .catalog-popular__image {
    display: none;
  }

  .catalog-popular__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .catalog-popular__container {
    display: flex;
    flex-direction: column;
    width: 668px;
    background-image: url("../img/knitted_baskets-tablet.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 334px 404px;

    &::after {
      content: "";
      position: absolute;
      width: 772px;
      height: 17px;
      background-image: url("../img/zigzag-line-desktop.svg");
      top: 580px;
      left: -15px;
    }
  }

  .catalog-popular__footer {
    width: 300px;
  }

  .price {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog-popular__container {
    grid-column: 1;
    grid-row: 3;
    background-image: none;
    margin: 0;
    margin-left: 135px;
  }

  .catalog-popular__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/knitted_baskets-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 525px 636px;
    margin-bottom: 164px;
  }

  .catalog-popular__title-container {
    grid-row: 2;
    margin-top: 61px;
  }

  .catalog-popular__period {
    order: -1;
    margin: 0;
  }

  .catalog-popular__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
    margin-left: 32px;
  }

  .catalog-popular__item {
    margin-bottom: 60px 0 124px;
  }

  .catalog-popular__container::after {
      content: "";
      position: absolute;
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line.svg");
      top: 690px;
      left: 15px;
  }
}
