@use "variables.scss";

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__item {
  list-style-type: none;
  margin-bottom: 30px;
}

.card-content {
  border: 1px solid rgba(236, 236, 236, 1);
}

.card-content__wrapper {
  padding: 24px 27px 25px 28px;
  display: flex;
  flex-direction: column;
}

.catalog__wrapper {
  margin-bottom: 30px;
}

.card-content__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px;
}

.card-content__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  margin-bottom: 40px;
}

.card-footer {
  position: relative;
  display: flex;
  border: none;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    background: rgba(236, 236, 236, 1);
    top: -22px;
  }
}

.card-footer__price {
  display: block;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}


.production__wrapper {
  border: 1px solid hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  position: relative;
}

.production__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 92px;
  margin-bottom: 26px;
  margin-top: 23px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/video.svg");
    width: 32px;
    height: 22px;
    top: 36px;
    left: 35px;
  }
}

.production__description {
  margin: 0;
  margin-left: 34px;
  padding-top: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
}

.production__order-product {
  padding: 18px 21px 14px 20px;
  line-height: 16px;
  align-self: center;
  margin-top: 39px;
  margin-bottom: 33px;
  margin-left: 3px;
}

.card-content__image {
  width: 100%;
  height: auto;
}

.production_img-tablet,
.production_img-desktop {
  display: none;
}

.pruduction-video {
  position: relative;
  max-width: max-content;
}

.video-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: variables.$tablet-width) {
  .card-content {
    display: grid;
    grid-template-columns: 333px 334px;
    height: 100%;
    margin: auto;
  }

  .production {
    padding-bottom: 65px;
  }

  .production__wrapper {
    margin-bottom: 0;
  }

  .card-content__title {
    font-size: 20px;
  }

  .card-footer__price {
    font-size: 17px;
    padding-bottom: 5px;
  }

  .card-content__wrapper {
    padding: 27px 32px 25px 33px;
    flex: 1;
  }

  .card-content__description {
    margin-bottom: auto;
    font-size: 15px;
  }

  .catalog__item {
    margin-bottom: 48px;
  }

  .card-content__image {
    grid-row: 1 / 4;
  }

  .card-footer::before {
    width: 99%;
    top: -30px;
  }

  .production__title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 108px;

    &::before {
      top: 492px;
      left: 42px;
    }
  }

  .production__order-product {
    align-self: stretch;
    text-align: center;
    margin: 0 42px;
    margin-bottom: 46px;
  }

  .production__description {
    margin: 0 42px 47px;
    font-size: 15px;
    padding: 0;
  }

  .production-image {
    order: -1;
    width: 100%;
    height: auto;
  }

  .pruduction-video {
    order: -1;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }

  .catalog {
    margin-top: 71px;
    margin-left: 5px;
  }

  .card-content__wrapper {
    padding: 30px 31px 25px 28px;
  }

  .catalog__wrapper {
    margin-bottom: 50px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95%;


    &:hover {
      border: 1px solid hsl(0, 0%, 93%);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item {
    width: 316px;
    margin-bottom: 0;
  }

  .card-footer {
    flex-direction: row;
  }

  .card-footer__price {
    margin-right: 122px;
  }

  .production {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .production__wrapper {
    display: grid;
    grid-template-columns: 1fr 367px;
  }

  .production_img-tablet {
    display: none;
  }

  .production_img-desktop {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .production__order-product {
    align-self: center;
    margin-left: 87px;
    grid-column: 2;
    margin-bottom: 60px;
    width: 51%;
  }

  .production__title {
    margin-top: 95px;
    font-size: 20px;
    margin-left: 87px;
    padding-right: 50px;
    margin-bottom: 25px;

    &::before {
      top: 45px;
      left: 770px;
    }
  }

  .production__description {
    margin-left: 85px;
    padding: 0;
    margin-bottom: 51px;
    line-height: 30px;
  }

  .card-footer__add-cart-icon {
    &:hover {
      fill: rgba(99, 209, 187, 1);
    }

    &:focus {
      fill: rgba(99, 209, 187, 0.2);
    }
  }

  .pruduction-video {
    position: relative;
    max-width: max-content;
    grid-column: 1;
    grid-row: 1/4;
  }

  .video-button {
    left: 52%;
  }

  .video-button__icon {
    &:hover {
      width: 121px;
      height: 92px;
    }

    &:active {
      width: 81px;
      height: 62px;
      opacity: 0.3;
    }
  }
}
