@use "variables.scss";

.contacts {
  position: relative;
  padding-top: 45px;
  padding-bottom: 39px;
}

.contacts__details {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  display: grid;
  row-gap: 30px;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__email-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid  rgba(98, 209, 186, 1);
}

.contacts-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: max-content;
  padding: 13px 50px;
}

.contacts__email-text {
  margin: 0;
  margin-left: 35px;
}

.contacts__address-text {
  margin: 0;
  margin-left: 35px;
}

.contacts__details-wrapper {
  display: flex;
}

.map {
  display: block;
  width: 100%;
  height: 454px;
  border: none;
  margin-bottom: 42px;
}

.contacts__wrapper {
  margin-bottom: 62px;
}

@media (min-width: variables.$tablet-width) {
  .contacts {
    padding-top: 20px;
    padding-bottom: 57px;
  }

  .contacts__wrapper {
    position: relative;
    margin-bottom: 62px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/flag.svg");
      width: 47px;
      height: 81px;
      top: -24px;
      right: 1px;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    padding-left: 2px;
  }

  .contacts__details {
    grid-template-columns: 308px 335px;
    column-gap: 28px;
  }

  .contacts__details-wrapper {
    display: flex;
    font-size: 17px;
  }

  .contacts__email-link {
    font-size: 17px;
    padding-left: 2px;
  }

  .contacts__email-text {
    margin-left: 26px;
  }

  .contacts__address-text {
    margin-left: 27px;
  }

  .map {
    height: 457px;
    margin-bottom: 43px;
  }

  .contacts-button {
    padding: 12px 39px 13px;
  }
}

@media (min-width: variables.$desktop-width) {
  .contacts {
    padding-bottom: 105px;
  }

  .contacts__wrapper-desktop {
    display: grid;
    grid-template-columns: min-content min-content;
    margin: 0 auto;
    max-width: 1050px;
  }

  .contacts__details {
    display: block;
    grid-column: 2;
  }

  .contacts__details-wrapper:first-child {
    margin-bottom: 31px;
  }

  .contacts__wrapper {
    display: grid;
    grid-template-columns: 47px 300px auto;
    grid-template-rows: auto;
    column-gap: 62px;
    margin-left: 70px;

    &::after {
      top: 63px;
      left: 0;
    }
  }

  .contacts__title {
    grid-column: 2;
    font-size: 53px;
    line-height: 57px;
    margin-top: 79px;
    margin-bottom: 37px;
  }

  .map {
    width: 527px;
    height: 457px;
    margin-bottom: 0;
    grid-column: 2;
    grid-row: 1/4;
  }

  .contacts-button {
    margin-left: 182px;
    margin-top: 23px;
  }

  .contacts__email-link {
    padding-bottom: 8px;

    &:hover {
      color: rgba(70, 193, 174, 1);
    }

    &:disabled {
      border-bottom: none;
    }
  }

  .contacts__email {
    padding-left: 3px;
  }

  .contacts__email-text {
    margin-left: 23px;
  }
}
