
.contacts {
    margin-top: 89px;
}

.contacts__details {
    padding-top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(68, 68, 68, 1);
}

.contacts__email-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid  rgba(98, 209, 186, 1);
}

.contacts-button {
    padding: 16px 37px;
}