@use "variables.scss";

.feedback__wrapper {
  padding-bottom: 45px;
}

.feedback__title {
  margin-bottom: 15px;
  padding-left: 1px;
}

.feedback__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  padding-bottom: 33px;
  padding-left: 2px;
}

.feedback__author-info {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  padding-left: 1px;
}

.feedback__author-email {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  margin-top: 3px;
  padding-left: 1px;
}

.feedback-button {
  display: block;
  margin-top: 36px;
  text-align: center;
  padding: 14px;
}

.feedback__slider {
  display: flex;
  margin-top: 29px;
}

.feedback__prev,
.feedback__next {
  border: 1px solid hsl(0, 0%, 93%);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 40px 11px 38px;
}

.feedback__prev-icon,
.feedback__next-icon {
  &:hover {
    fill: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    fill: rgba(0, 0, 0, 0.3);
    outline: none;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
    outline: none;
  }
}

.wave::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-line-mobile.svg");
}

@media (min-width: variables.$tablet-width) {
  .feedback {
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-position: -5px -3px;
    background-size: 350px 457px;
    padding-bottom: 68px;
  }

  .wave::after {
    height: 17px;
    background-image: url("../img/zigzag-line-tablet.svg");
  }

  .feedback__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 113px;
  }

  .feedback__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 82px;
    padding-bottom: 38px;
    margin: 0;
  }

  .feedback__description {
    font-size: 17px;
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .feedback__prev,
  .feedback__next {
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-top: 2px;
  }

  .feedback__prev {
    margin-right: 30px;
  }

  .feedback__slider {
    grid-column: 2;
    grid-row: 3;
    justify-content: flex-end;
    margin-right: 18px;
  }

  .feedback-button {
    justify-self: flex-end;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 40px;
    width: 42%;
  }

  .feedback__author-info {
    grid-row: 3;
    font-size: 18px;
    padding-left: 2px;
  }

  .feedback__author-details {
    grid-column: 1;
    grid-row: 3;
    padding-top: 28px;
  }

  .feedback__author-email {
    grid-row: 4;
  }
}

@media (min-width: variables.$desktop-width) {
  .feedback__description {
    margin-left: 185px;
    padding: 0;
    padding-right: 63px;
  }

  .feedback__title {
    margin-left: 182px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 75px;
    padding-bottom: 37px;
  }

  .feedback__author-info {
    margin-left: 181px;
    font-size: 17px;
  }

  .feedback__author-email {
    margin-left: 181px;
    margin-bottom: 96px;
  }

  .feedback_slider {
    margin-bottom: 96px;
  }

  .wave::after {
    height: 24px;
    background-image: url("../img/zigzag-line-desktop.svg");
    width: 1050px;
    left: 50px;
  }

  .feedback {
    background-position: 6% 0;
  }

  .feedback__author-details {
    padding-top: 43px;
  }

  .feedback__slider {
    margin-right: 12px;
    align-items: flex-start;
    margin-top: 55px;
  }

  .feedback-button {
    margin-bottom: 40px;
    width: 27%;
    margin-right: -7px;
  }

  .feedback__wrapper {
    padding-bottom: 70px;
  }
}

