@use "variables.scss";

.main-footer {
  background-color: rgba(241, 241, 241, 1);
}

.main-footer__logo {
  display: none;
}

.main-footer__wrapper {
  margin-top: 30px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 150px;
  margin: 0 auto;
  padding-left: 15px;
}

.social__link {
  text-decoration: none;
}

.social__item {
  list-style-type: none;
  margin-right: 29px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link-icon {
  fill: #231f20;

  &:hover {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.social__item:first-child {
  padding-top: 2px;
}

.main-footer__copyright {
  display: flex;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 29px;
  width: 175px;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: block;
  margin-left: 27px;
  text-decoration: none;
  fill: #231f20;
}

.copyright__link-icon {
  fill: rgba(99, 209, 187, 1);
  margin-top: -9px;

  &:hover {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: variables.$tablet-width) {
  .main-footer__copyright {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 117px;
  }

  .main-footer__logo {
    display: block;
    margin-right: 110px;
  }

  .main-footer__wrapper {
    display: flex;
    margin-top: 51px;
    margin-bottom: 58px;
  }

  .social__list {
    padding-top: 8px;
    padding-left: 10px;
  }

  .social__item:first-child {
    padding-top: 2px;
    padding-left: 4px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-footer__copyright {
    margin-left: 308px;
  }

  .main-footer__logo {
    margin-right: 298px;
    margin-left: 8px;
  }

  .main-footer__logo-icon {
    &:hover {
      fill: hsl(171, 50%, 52%);
    }
  }
}
