@use "variables.scss";

.order-forms__description {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.order-forms__group {
  border: none;
  padding: 0;
  position: relative;
  margin-top: 29px;
}


.order-forms__radio::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: -9px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__checkbox-list::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: -10px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: rgba(99, 209, 187, 1);
  text-transform: uppercase;
}

.order-forms__list {
  padding: 0;
  padding-top: 16px;
}

.order-forms__item {
  list-style-type: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.radio__item:first-child {
  padding-top: 18px;
  margin-bottom: 24px;
}

.customer-information__field {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  padding: 16px 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  outline: none;

  &:focus {
    color: rgba(68, 68, 68, 1);
  }
}

.order-wish {
  border: 2px solid #444444;
  box-shadow: none;
  padding: 17px 40px 86px 17px;
  margin-top: 22px;
  resize: none;
  width: min-content;
  margin-left: 1px;
}

.order-forms__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
  margin: 0;
  padding: 10px 0 30px;
}

.order-forms-button {
  padding: 17px 19px 17px;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
}

.customer-information__bio {
  padding-top: 21px;
  padding-right: 15px;
}

.order-forms__list-bio {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    top: -38px;
    right: 0;
    background-color: rgba(98, 209, 186, 1);
  }
}

.radio__input-text {
  display: block;
  padding-left: 38px;
}

.order-forms__control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.radio__input-icon {
  position: absolute;
  top: -5px;
  left: -30px;
  width: 37px;
  height: 37px;
  border: 2px solid rgba(68, 68, 68, 1);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;

  &:hover {
    border-color: rgba(98, 209, 186, 1);
  }

  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.radio__input[type="radio"]:checked + .radio__input-icon::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #62d1ba;
  top: 11px;
  left: 11px;
}

.checkbox__input-icon {
  position: absolute;
  top: -12px;
  left: -59px;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(68, 68, 68);
  cursor: pointer;

  &:hover {
    border-color: rgba(98, 209, 186, 1);
  }

  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.checkbox__input[type="checkbox"]:checked + .checkbox__input-icon::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  background-image: url("../img/tick_small.svg");
  width: 23px;
  height: 18px;
}

.customer-information_phone::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: 6px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.phone-input__icon {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 30px;
  right: 6px;
  fill: rgba(0, 0, 0, 0.2);
}

.customer-information_email::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 1px;
  top: 113px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.email-input__icon {
  content: "";
  position: absolute;
  width: 32px;
  height: 21px;
  top: 143px;
  right: 0;
  fill: rgba(0, 0, 0, 0.2);
}

.order-forms__more::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  top: 10px;
  right: 0;
  background-color: rgba(98, 209, 186, 1);
}

.order-forms__footer {
  margin-bottom: 55px;
}

.phone-input {
  margin-bottom: 34px;
}

.order-forms__title__color {
  padding-top: 16px;
}

.checkbox__control {
  padding-left: 0;
}

.item-checkbox {
  display: block;
  padding-left: 60px;
  margin-bottom: 43px;
}

.order-forms__group__bio {
  margin-top: 0;
}

.order-forms__checkbox-list {
  padding-top: 34px;
}

.bio__item {
  margin-top: 21px;

  &:first-child {
    margin-top: 29px;
  }
}

.order-forms__title__email {
  padding-top: 6px;
}

.order-forms__title__more {
  padding-top: 8px;
}

@media (min-width: variables.$tablet-width) {
  .order-forms__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
    padding-left: 5px;
  }

  .radio__item:first-child {
    margin-bottom: 55px;
  }

  .order-forms__group {
    display: flex;

    &:nth-child(2n) {
      background-color: rgba(241, 241, 241, 1);
    }
  }

  .order-forms__group__wrapper {
    display: flex;
  }

  .order-forms__title {
    padding: 0;
    width: 96px;
  }

  .order-forms__title__color {
    padding-top: 46px;
    padding-left: 3px;
  }

  .order-forms__list {
    padding-top: 0;
  }

  .order-forms__group__bio {
    margin-top: 27px;
  }

  .order-forms__item {
    margin-bottom: 58px;

    &:first-child {
      padding-top: 0;
    }
  }

  .checkbox__input-icon {
    width: 49px;
    height: 49px;
    left: -49px;
    top: -16px;
  }

  .radio__input-icon {
    width: 46px;
    height: 46px;
    margin: 0;
    top: -18px;
    left: -27px;
  }

  .radio__input[type="radio"]:checked + .radio__input-icon::after {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #62d1ba;
    top: 12px;
    left: 14px;
  }

  .checkbox__input-text {
    display: block;
    padding-left: 35px;
  }

  .checkbox__input[type="checkbox"]:checked + .checkbox__input-icon::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    background-image: url("../img/tick.svg");
    width: 31px;
    height: 22px;
  }

  .order-forms__checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-top: 46px;
    margin-left: 120px;
  }

  .item-checkbox {
    padding: 0;
  }

  .order-forms__title__wrapper {
    margin-right: 103px;
  }

  .customer-information__wrapper {
    display: flex;
    width: 90%;
  }

  .order-forms__title__contacts {
    margin-top: 47px;
    padding: 0;
  }

  .order-forms__title__more {
    margin-top: 18px;
    padding: 0;
    margin-left: 3px;
  }

  .order-forms__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .order-forms__note {
    margin: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .bio-info__contacts {
    flex-direction: column;
    margin-top: 45px;
  }

  .customer-information_email::after {
    display: none;
  }

  .customer-information_email {
    margin-bottom: 50px;
    width: 100%;

    &::before {
      top: 135px;
      right: 80px;
    }
  }

  .order-forms__more {
    width: 100%;

    &::after {
      display: none;
    }
  }

  .customer-information_phone {
    width: 100%;

    &::before {
      top: 25px;
      right: 80px;
    }

    &::after {
      display: none;
    }
  }

  .order-forms__list-bio::after {
    display: none;
  }

  .order-forms__radio {
    &::after {
      display: none;
    }
  }

  .radio__input-text {
    padding-left: 29px;
  }

  .order-forms__checkbox-list::after {
    display: none;
  }

  .phone-input,
  .email-input {
    background-color: rgba(241, 241, 241, 1);
    width: 100%;
    max-width: 1050px;
    padding-left: 17px;
  }

  .phone-input {
    margin-left: 105px;
    margin-top: 25px;
    margin-bottom: 14px;
  }

  .email-input {
    margin-left: 99px;
  }

  .customer-information__field {
    font-size: 19px;
    line-height: 18px;
  }

  .order-forms__title--wrapper-bio {
    margin-right: 71px;
  }

  .customer-information {
    display: flex;
    width: 500px;
  }

  .customer-information__bio {
    margin-right: 10px;
    padding-top: 20px;
  }

  .bio-input {
    width: 100%;
    max-width: 1050px;
    padding-left: 16px;
    padding-bottom: 14px;
  }

  .order-wish {
    width: 100%;
    max-width: 1050px;
    margin-left: 109px;
    margin-top: 0;
  }

  .bio-info {
    margin-bottom: 52px;
  }

  .order-forms__title__email {
    padding: 0;
    padding-top: 26px;
    padding-left: 3px;
  }

  .phone-input-__icon {
    right: 80px;
  }

  .email-input-__icon {
    right: 80px;
    top: 210px;
  }

  .order-forms__title-bio {
    padding-top: 51px;
    padding-left: 3px;
  }

  .bio__item {
    margin-top: 0;
    margin-bottom: 17px;
  }

  .phone-input__icon {
    top: 42px;
    right: 23px;
  }

  .email-input__icon {
    top: 123px;
    right: 19px;
  }

  .order-forms-button {
    width: max-content;
    margin-bottom: 20px;
    padding: 17px 30px 17px;
  }
}

@media (min-width: variables.$desktop-width) {
  .customer-information__field {
    &:hover {
      border-color: rgba(98, 209, 186, 1);

      & ~ .input__icon {
        fill: rgba(98, 209, 186, 1);
      }
    }

    &:focus {

      border-color: rgba(98, 209, 186, 1);

      & ~ .input__icon {
        fill: rgba(98, 209, 186, 1);
      }
    }
  }


  .order-forms__checkbox-list {
    grid-template-columns: 250px 280px 280px;
    margin-left: 70px;
    column-gap: 0;
  }

  .customer-information {
    width: 700px;
  }

  .customer-information_phone::before {
    top: 95px;
    right: 120px;
  }

  .customer-information_email::before {
    top: 175px;
    right: 115px;
  }

  .phone-input {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .order-forms__title__contacts {
    margin: 0;
    align-self: flex-end;
    margin-bottom: 40px;
  }

  .order-forms__title__email {
    align-self: flex-end;
    margin-bottom: 25px;
    padding-top: 0;
  }

  .email-input__icon {
    top: 175px;
    right: 130px;
  }

  .phone-input__icon {
    right: 130px;
  }

  .order-forms__description {
    padding-left: 19px;
    padding-top: 130px;
    width: 700px;
  }

  .radio__input-text {
    padding-left: 40px;
  }

  .radio__input-icon {
    top: -17px;
    left: -17px;
  }

  .order-forms__title__wrapper {
    margin-right: 33px;
  }

  .order-forms__title {
    padding-left: 70px;
  }

  .order-forms__title--wrapper-bio {
    margin-right: 21px;
  }

  .phone-input,
  .email-input {
    width: 65%;
  }

  .email-input {
    margin-left: 19px;
  }

  .order-forms__title__more {
    margin-top: 11px;
    padding-left: 65px;
  }

  .order-wish {
    margin-left: 18px;
    width: 61%;
    padding-top: 11px;
  }

  .order-forms-button {
    margin-left: 180px;
  }

  .order-forms__note {
    margin-right: 170px;
  }
}
