@use "variables.scss";

.main-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__wrapper {
  background: rgba(255, 255, 255, 1);
}

.main-header__logo-mobile-image {
  display: block;
  margin: 0 auto;
  padding: 22px 0;
}

.main-header__logo-table-link {
  display: none;
}

.main-header__logo-link {
  display: none;
}


@media (min-width: variables.$tablet-width) {
  .main-header__logo-mobile-link {
    display: none;
  }

  .main-header__logo-table-link {
    display: block;
    width: 320px;
    padding: 22px 0 13px;
    margin-right: 210px;
  }

  .main-header__wrapper {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-header__logo-mobile-link {
    display: none;
  }

  .main-header__logo-table-link {
    display: none;
  }

  .main-header__logo-link {
    display: block;
    margin-right: 103px;
    margin-top: 9px;
  }

  .main-header__logo-image:hover {
    opacity: 0.6;
  }

  .main-header__logo-image:disabled {
    opacity: 0.3;
  }


  .main-header__wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}

