@use "variables.scss";

.main-navigation__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: block;
  text-align: center;
  padding: 28px 0 26px;
  margin: 0 auto;
  width: 280px;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__wrapper {
  background: rgba(255, 255, 255, 1);
}

.main-header__logo-mobile-image {
  display: block;
  margin: 0 auto;
  padding: 22px 0;
}

.main-header__logo-table-link {
  display: none;
}

.main-header__logo-link {
  display: none;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  position: relative;
}

.user-list__search-icon {
  padding-right: 37px;
  color: rgba(0, 0, 0, 1);

  &:hover {
    color: rgba(99, 209, 187, 1);
  }

  &:disabled {
    color: rgba(99, 209, 187, 1);
    opacity: 0.3;
  }
}

.user-list__cart-icon {
  padding-right: 35px;
}


.site-list__item {
  list-style-type: none;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-list__item {
  list-style-type: none;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-list__link {
  text-align: start;
}

@media (min-width: variables.$tablet-width) {
  .main-header__logo-mobile-link {
    display: none;
  }

  .main-navigation__link {
    padding-top: 33px;
    width: auto;
  }

  .user-list {
    display: flex;
    width: 370px;
  }

  .user-list__item,
  .site-list__item {
    box-shadow: none;
  }

  .main-header__logo-table-link {
    display: block;
    width: 320px;
    padding: 22px 0 13px;
    margin-right: 210px;
  }

  .main-header__wrapper {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .main-navigation__toggle {
    display: none;
  }

  .site-list {
    display: none;
  }

  .main-navigation__link-text {
    display: none;
  }

  .user-list__link-search {
    padding-left: 33px;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 92px;
      width: 1px;
      top: 0;
      left: -1px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 92px;
      width: 1px;
      top: 0;
      left: 80px;
    }
  }

  .user-list__search-icon {
    padding: 0;
  }

  .user-list__cart-icon {
    padding-right: 27px;
    padding-left: 32px;
  }

  .user-list__link-cart {
    margin-left: 30px;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-header__logo-mobile-link {
    display: none;
  }

  .main-header__logo-table-link {
    display: none;
  }

  .main-header__logo-link {
    display: block;
    margin-right: 103px;
    margin-top: 9px;
  }

  .main-header__logo-image:hover {
    opacity: 0.6;
  }

  .main-header__logo-image:disabled {
    opacity: 0.3;
  }

  .site-list {
    display: flex;
    width: 450px;
  }

  .main-header__wrapper {
    width: 1150px;
    margin: 0 auto;
  }

  .main-navigation--desktop {
    display: flex;
    width: 1100px;
    margin-left: 50px;
  }

  .main-navigation__link-text {
    display: none;
  }

  .main-navigation__link {
    box-shadow: none;
  }

  .site-list__item {
    position: relative;
    margin-right: 73px;

    &:not(:first-child)::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 92px;
      width: 1px;
      top: 0;
      left: -35px;
    }
  }
}
