@use "variables.scss";

.site-list__item {
  list-style-type: none;
}

.main-navigation__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: block;
  text-align: center;
  padding: 28px 0 26px;
  box-shadow: 0 1px 0 rgba(236, 236, 236, 1), inset 0 1px 0 rgba(236, 236, 236, 1);

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
}

.main-navigation__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-header__logo-mobile-image {
  display: block;
  margin: 0 auto;
  padding: 22px 0;
}

.main-header__logo-table-link {
  display: none;
}

.main-header__logo-link {
  display: none;
}

.main-header__logo-wrappep {
  box-shadow: 0 1px 0 hsl(0, 0%, 93%), inset 0 1px 0 hsl(0, 0%, 93%);
}

.user-list__link {
  display: block;
  text-align: start;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  position: relative;
}

.user-list__search-icon {
  padding-left: 36px;
  padding-right: 26px;
  color: rgba(0, 0, 0, 1);

  &:hover {
    color: rgba(99, 209, 187, 1);
  }

  &:disabled {
    color: rgba(99, 209, 187, 1);
    opacity: 0.3;
  }
}

.user-list__cart-icon {
  padding-left: 32px;
  padding-right: 23px;

  &:hover {
    color: rgba(99, 209, 187, 1);
  }

  &:disabled {
    color: rgba(99, 209, 187, 1);
    opacity: 0.3;
  }
}

@media (min-width: variables.$tablet-width) {
  .main-header__logo-mobile-link {
    display: none;
  }

  .user-list {
    display: flex;
    width: 400px;
  }

  .main-header__logo-table-link {
    display: block;
    width: 371px;
    padding-left: 50px;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-navigation__toggle {
    display: none;
  }

  .site-list {
    display: none;
  }

  .main-navigation__link-text {
    display: none;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-navigation {
    box-shadow: 0 1px 0 hsl(0, 0%, 93%), inset 0 1px 0 hsl(0, 0%, 93%);
  }

  .main-navigation__wrapper {
    width: 1000px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-header__logo-mobile-link {
    display: none;
  }

  .main-header__logo-table-link {
    display: none;
  }

  .main-header__logo-link {
    display: block;
  }

  .site-list {
    display: flex;
    width: 460px;
  }

  .main-header__wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .main-navigation--desktop {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
  }

  .main-navigation__link-text {
    display: none;
  }

  .main-navigation__link {
    box-shadow: none;
  }

  .site-list__item {
    position: relative;
    margin-right: 73px;

    &:not(:first-child)::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 80px;
      width: 1px;
      top: 0;
      left: -35px;
    }
  }

  .user-list__link--search {
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 80px;
      width: 1px;
      top: 0;
      left: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.1;
      height: 80px;
      width: 1px;
      top: 0;
      left: 85px;
    }
  }
}
