@use "variables.scss";

.main-navigation {
  position: relative;
  width: auto;
}

.main-navigation__toggle {
  position: absolute;
  top: -54px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 25px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: none;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 10px;
  width: 20px;
  height: 2px;
  background-color: rgba(35, 31, 32, 1);
  box-shadow: 0 8px 0 0 rgba(35, 31, 32, 1), 0 16px 0 0 rgba(35, 31, 32, 1);
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  position: static;
  min-height: 0;
}

@media (max-width: variables.$mobile-width-only) {
  .main-navigation--closed .site-list {
    display: none;
  }

  .main-navigation--closed .user-list {
    display: none;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
  }
}
