@use "variables.scss";

.page {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 280px;
}

.main-container {
  flex-grow: 1;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
  position: relative;
}

.inner-page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 280px;
}

.inner-container {
  flex-grow: 1;
  position: relative;
}

@media (min-width: variables.$tablet-width) {
  .container {
    max-width: 668px;
  }
}

@media (min-width: variables.$desktop-width) {
  .container {
    max-width: 1050px;
  }
}
