@use "variables.scss";

.product-options__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 32px 30px;
  text-decoration: none;
}

.product-options__wrapper {
  display: grid;
  width: 320px;
  margin-bottom: 31px;
}

.interior-item {
  background-color: rgba(99, 209, 187, 1);

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    background-image: url("../img/interior.svg");
    top: 15px;
    right: 30px;
  }
}

.toys-item {
  background-color: rgba(86, 195, 178, 1);

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/toy.svg");
    top: 15px;
    right: 30px;
  }
}

.product-options__list {
  position: relative;
}

@media (min-width: variables.$tablet-width) {
  .product-options__wrapper {
    width: 100%;
    max-width: 1150px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 39px;
  }

  .product-options__link::before {
    content: "";
    position: absolute;
    width: 770px;
    height: 24px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    top: 90px;
    left: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .product-options__wrapper {
    margin-bottom: 54px;
  }

  .product-options__list:hover {
    transform: translateY(-5px);
  }

  .product-options__link::before {
    content: "";
    position: absolute;
    width: 1250px;
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    top: 90px;
    left: 0;
  }
}
