@use "variables.scss";

.product-options__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 23px 0 32px;
  text-decoration: none;
}

.product-options__wrapper {
  display: grid;
  width: 100%;
}

.product-options__list {
  position: relative;
}

.interior-item {
  background-color: rgba(99, 209, 187, 1);
}

.interior-item__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  background-image: url("../img/interior.svg");
  top: 22px;
  right: 3px;
}


.toys-item {
  background-color: rgba(86, 195, 178, 1);
}

.toys-item__link::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/toy.svg");
  top: 20px;
  right: -5px;
}

@media (min-width: variables.$tablet-width) {
  .product-options {
    margin: 0 auto;
    width: 100%;
    max-width: 668px;
  }

  .product-options__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 39px;
    padding-top: 26px;
  }

  .product-options__wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .interior-item__link::after {
    right: 74px;
    top: 30px;
  }

  .toys-item__link::after {
    right: 71px;
    top: 33px;
  }
}

@media (min-width: variables.$desktop-width) {
  .product-options {
    max-width: 1050px;
  }

  .product-options__list:hover {
    transform: translateY(-5px);
  }

  .product-options__wrapper {
    padding-left: 8px;
  }

  .product-options__link {
    padding-left: 37px;
  }
}
