@use "fonts.scss";
@use "mixin.scss";
@use "pages.scss";
@use "variables.scss";
@use "title.scss";
@use "button";
@use "about_us.scss";
@use "feedback.scss";
@use "catalog_popular.scss";
@use "catalog.scss";
@use "contacts.scss";
@use "footer.scss";
@use "header.scss";
@use "modal_window.scss";
@use "product_options.scss";
@use "top_menu.scss";
@use "forms.scss";
@use "main_nav.scss";

.visually-hidden {
  @include mixin.visually-hidden;
}
