@use "variables.scss";

.top-menu__title {
  display: block;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 73px 0 120px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.top-menu__title-inner {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding: 73px 0;
}

.top-menu__list {
  display: none;
}

.top-menu__item-order {
  display: none;
}

.top-menu__main-page-wrapper-desktop {
  display: none;
}

.top-menu__main-page {
  background-color: rgba(249, 249, 249, 1);
}

.top-menu__inner-page {
  background-color: rgba(241, 241, 241, 1);
}

.top-menu__main-wrapper {
  background-image: url("../img/toy_house_mobile.jpg");
  height: 283px;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

.top-menu__inner-wrapper {
  margin-bottom: 30px;
}

@media (min-width: variables.$tablet-width) {
  .top-menu__main-wrapper {
    background-image: url("../img/toy_house_tablet.jpg");
    height: 627px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
  }

  .top-menu__main-page::after {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-fill-tablet.svg");
    top: 725px;
    left: 0;
    width: 100%;
    height: 24px;
  }

  .top-menu__inner-page::after {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-fill-tablet.svg");
    top: 206px;
    left: 0;
    width: 100%;
    height: 24px;
  }

  .top-menu__inner-wrapper {
    margin-bottom: 80px;
  }

  .top-menu__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    padding: 110px 50px 372px;
  }

  .top-menu__title-inner {
    padding-bottom: 63px;
    padding-top: 57px;
  }

  .top-menu__main-page-wrapper-desktop {
    display: none;
  }

  .top-menu__main-page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .top-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-left: 2px;
  }

  .top-menu__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    margin-top: 20px;
  }

  .top-menu__item-order {
    display: block;
    margin-left: auto;
    margin-top: 22px;
  }

  .top-menu__item {
    list-style-type: none;

    &:first-child {
      margin-right: 37px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .top-menu__inner-wrapper {
    margin-bottom: 0;
  }

  .top-menu__main-page::after {
    top: 725px;
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }

  .top-menu__inner-page::after {
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    top: 230px;
  }

  .top-menu__main-wrapper {
    background-image: url("../img/toy_house_desktop.jpg");
    height: 627px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    max-width: 1060px;
  }

  .top-menu__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding: 111px 0 372px 15px;
  }

  .top-menu__title-inner {
    padding: 57px 40px 82px 57px;
  }

  .top-menu__list {
    display: none;
  }

  .top-menu__main-page-wrapper {
    display: flex;
    width: 1070px;
  }

  .top-menu__main-page-wrapper-desktop {
    display: block;
    margin-right: 503px;
  }

  .top-menu__main-page-wrapper-desktop__item {
    list-style-type: none;
  }

  .top-menu__main-page-wrapper-desktop__list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 21px;
    padding-left: 15px;
  }

  .top-menu__main-page-wrapper-desktop__item:first-child {
    margin-right: 61px;
  }

  .top-menu__main-page-wrapper-desktop__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .top-menu__main-page-wrapper-desktop__link:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
  }

  .top-menu__item-order {
    margin-left: 0;
  }

  .top-menu__main-page-wrapper-desktop__list--inner {
    padding-left: 10px;
  }
}
