@use "variables.scss";

.top-menu__title {
  display: block;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 73px 30px 120px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.top-menu__list {
  display: none;
}

.top-menu__item-order {
  display: none;
}

.top-menu-main-page__wrapper--desktop {
  display: none;
}

.top-menu-inner__wrapper {
  background-color: rgba(241, 241, 241, 1);
}

@media (min-width: variables.$tablet-width) {
  .top-menu__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    padding: 154px 50px 372px;
  }

  .top-menu-main-page__wrapper--desktop {
    display: none;
  }

  .top-menu-main-page__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .top-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 20px;
  }

  .top-menu__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    margin-top: 20px;
  }

  .top-menu__item-order {
    display: block;
    margin-left: auto;
    margin-top: 20px;
  }

  .top-menu__item {
    list-style-type: none;

    &:first-child {
      margin-right: 37px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .top-menu__wrapper {
    max-width: 1150px;
  }


  .top-menu__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .top-menu__list {
    display: none;
  }

  .top-menu-main-page__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .top-menu-main-page__wrapper--desktop {
    display: block;
  }

  .top-menu-main-page__wrapper--desktop__item {
    list-style-type: none;
  }

  .top-menu-main-page__wrapper--desktop__list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 20px;
  }

  .top-menu-main-page__wrapper--desktop__item:first-child {
    margin-right: 41px;
    margin-left: 75px;
  }

  .top-menu-main-page__wrapper--desktop__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
  }
}
