@use "variables.scss";

.top-menu__title {
  display: block;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 73px 0 120px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.inner-title {
  padding: 73px 0;
}

.top-menu__list {
  display: none;
}

.top-menu__item-order {
  display: none;
}

.top-menu-main-page__wrapper--desktop {
  display: none;
}

.top-menu-main-page {
  background-color: rgba(249, 249, 249, 1);
}

.top-menu-inner-page {
  background-color: rgba(241, 241, 241, 1);
}

.top-menu-main__wrapper {
  background-image: url("../img/toy_house_mobile.jpg");
  height: 283px;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

.top-menu-inner__wrapper {
  margin-bottom: 30px;
}

.inner-form__wrapper {
  margin-bottom: 18px;
}

@media (min-width: variables.$tablet-width) {
  .top-menu-main__wrapper {
    background-image: url("../img/toy_house_tablet.jpg");
    height: 627px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
  }

  .top-menu-main-page::after {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-fill-tablet.svg");
    top: 725px;
    left: 0;
    width: 100%;
    height: 24px;
  }

  .top-menu-inner-page::after {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-fill-tablet.svg");
    top: 206px;
    left: 0;
    width: 100%;
    height: 24px;
  }

  .top-menu-inner__wrapper {
    margin-bottom: 90px;
  }

  .top-menu__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    padding: 110px 50px 372px;
  }

  .inner-title {
    padding-bottom: 63px;
    padding-top: 57px;
  }

  .top-menu-main-page__wrapper--desktop {
    display: none;
  }

  .top-menu-main-page__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .top-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-left: 2px;
  }

  .top-menu__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    margin-top: 20px;
  }

  .top-menu__item-order {
    display: block;
    margin-left: auto;
    margin-top: 22px;
  }

  .top-menu__item {
    list-style-type: none;

    &:first-child {
      margin-right: 37px;
    }
  }

  .inner-form__wrapper {
    margin-bottom: 79px;
  }

  .inner-title__form {
    padding-left: 56px;
  }
}

@media (min-width: variables.$desktop-width) {
  .top-menu-inner__wrapper {
    margin-bottom: 0;
  }

  .top-menu-main-page::after {
    top: 712px;
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }

  .top-menu-inner-page::after {
    height: 34px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    top: 220px;
  }

  .top-menu-main__wrapper {
    background-image: url("../img/toy_house_desktop.jpg");
    height: 627px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    max-width: 1060px;
  }

  .top-menu__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding: 111px 0 372px 15px;
  }

  .top-menu__list {
    display: none;
  }

  .top-menu-main-page__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .top-menu-main-page__wrapper--desktop {
    display: block;
  }

  .top-menu-main-page__wrapper--desktop__item {
    list-style-type: none;
  }

  .top-menu-main-page__wrapper--desktop__list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 20px;
    padding-left: 13px;
  }

  .top-menu-main-page__wrapper--desktop__item:first-child {
    margin-right: 61px;
  }

  .top-menu-main-page__wrapper--desktop__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .top-menu__link--free_order {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
  }

  .inner-title {
    padding: 57px 40px 82px 57px;
  }
}
