@use "variables.scss";

.feedback-button {
  display: block;
  margin-top: 36px;
  text-align: center;
  padding: 14px;
}

@media (min-width: variables.$tablet-width) {
  .feedback-button {
    justify-self: flex-end;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 40px;
    width: 42%;
  }
}

@media (min-width: variables.$desktop-width) {
  .feedback-button {
    margin-bottom: 40px;
    width: 27%;
    margin-right: -7px;
  }
}
