@use "variables.scss";

.product-options__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 23px 0 32px;
  text-decoration: none;
}

.product-options__wrapper {
  display: grid;
  width: 100%;
}

.product-options__list {
  position: relative;
}

@media (min-width: variables.$tablet-width) {
  .product-options {
    margin: 0 auto;
    width: 100%;
    max-width: 668px;
  }

  .product-options__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 39px;
    padding-top: 26px;
  }

  .product-options__wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: variables.$desktop-width) {
  .product-options {
    max-width: 1050px;
  }

  .product-options__list:hover {
    transform: translateY(-5px);
  }

  .product-options__wrapper {
    padding-left: 8px;
  }

  .product-options__link {
    padding-left: 37px;
  }
}
